{% extends 'base.html.twig' %}

{% block title %}Hours index{% endblock %}

{% block body %}
    <h1>Hours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Day_of_week</th>
                <th>Open_am</th>
                <th>Close_am</th>
                <th>Open_pm</th>
                <th>Close_pm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.id }}</td>
                <td>{{ hour.dayOfWeek }}</td>
                <td>{{ hour.openAm ? hour.openAm|date('H:i:s') : '' }}</td>
                <td>{{ hour.closeAm ? hour.closeAm|date('H:i:s') : '' }}</td>
                <td>{{ hour.openPm ? hour.openPm|date('H:i:s') : '' }}</td>
                <td>{{ hour.closePm ? hour.closePm|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_hours_show', {'id': hour.id}) }}">show</a>
                    <a href="{{ path('app_hours_edit', {'id': hour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hours_new') }}">Create new</a>
{% endblock %}
